body{
    padding-bottom: 20px;
    color: #5a5a5a;
    background-color: lightgrey;
}

.navbar-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}
.navbar-wrapper> .container{
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar{
    padding-right: 20px;
    padding-left:20px;
}

.navbar-wrapper .nacbar .container{
    width:auto
}

.carousel{
    height: 500px;
    margin-bottom: 50px;
    
}
.carousel .item{
    height: 500px;
    background-color: #777;
}

.carousel-inner>.item>img{
    position: absolute;
    height:500px;
    min-width: 100%;
    top:0;
    left: 0;
    
}

.sec nav{
    list-style-type: none;
    margin:0;
    padding:0;
    background-color:;
    overflow: hidden;


}

li{
    float: left;
    
}

li a{
    display: block;
    color:black;
    text-align: center;
    padding:100px;
    text-decoration: none;
    
    
    
}

li a:hover{
    background-color:;
}

.righty{
    float:right;
}

.active{
    background-color: crimson;
}

.team .col-lg-4{
    text-align: center;
    margin-bottom: 20px;
    
}
.team h2{
    color:rgba(50,50,50,0.8);
}
.team p{
    margin-left: 10px;
    margin-right: 10px;
}
.divider{
    margin: 40px 0;
}

.mickey{
    padding-left: 50px;
    text-align: center;
    padding-top: 80px;
}
.content{
    margin-bottom: 30px;
}



footer{
    margin: 0 110px;   
}

.foonav {
        list-style-type: none;
    margin:0;
    padding:0;
    background-color:;
    overflow: hidden;
}
